.host {
  flex-direction: row;
  align-items: center;

  margin-right: 16px;
}

.logo {
  width: 34px;
  height: 18px;
  margin-left: 5px;
  tint-color: #999999;
}

.rating {
  font-weight: 200;
  font-size: 22px;
  color: #BBBBBB;
}
