.host {
  /* flex: 1; */
  flex-direction: row;

  margin-bottom: 16px;
  margin-left: 16px;
  margin-right: 16px;
}

.poster {
  width: 100px;
  height: 160px;
  border-radius: 3px;

  justify-content: center;
  align-items: center;

  aspect-ratio: 0.66;
  box-shadow: 0px 5px 11px rgba(0, 0, 0, 0.25);

  background-color: rgba(45, 45, 45, 0.66);
}

.poster__image {
  width: 100%;
  height: 100%;

  border-radius: 3px;
}

.poster__placeholder {
  width: 60px;
  height: 60px;

  tint-color: #404040;
}


.content {
  flex: 1;
  flex-direction: column;

  margin-left: 16px;
}

.title {
  font-weight: 300;
  font-size: 22px;
  color: #FFFFFF;
  margin-bottom: 2px;
}

.genres {
  font-weight: 100;
  font-size: 16px;
  color: #B5B5B5;
  padding-bottom: 4px;
}

.runtime {
  font-weight: 100;
  font-size: 16px;
  color: #B5B5B5;
  padding-bottom: 4px;
}

.ratings {
  flex-direction: row;
}
