.host {
  width: 300px;
  height: 100%;

  padding: 16px;

  background-color: #111111;
}

.header {
  margin-top: 8px;
  margin-bottom: 16px;
}

.header__title {
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
}

.header__subtitle {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
}

.item {
  display: flex;
  justify-content: center;

  border-radius: 4px;
  height: 40px;

  /* background-color: #333333; */

  padding-left: 16px;
  margin-top: 8px;
}

.item__active {
  background-color: #FF2244;
  /* background-color: rgba(255, 34, 68, 0.5); */
}

.item__label {
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
}
