.host {
  margin-right: 16px;
}

.loading {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  z-index: 10;
}

.shadow {
  position: relative;

  width: 70px;
  height: 100px;

  border-radius: 3px;

  margin-bottom: 8px;

  box-shadow: 0px 5px 11px rgba(10, 10, 10, 0.25);

  background-color: rgba(45, 45, 45, 0.66);
}

.picture {
  width: 70px;
  height: 100px;

  align-items: center;
  justify-content: center;

  border-radius: 3px;
}

.picture__placeholder {
  width: 60px;
  height: 60px;

  tint-color: #404040;
}

.name {
  width: 70px;

  opacity: 0.7;

  font-size: 10px;
  color: #ffffff;
}
